.omr-btn {
  border: none;
  border-radius: 50px;
  background-color: #002d40;
  color: white;
  width: 75px;
  font-size: 35px;
  font-weight: 800;
}

.main-game3 {
  margin-top: 5%;
}

.card-width-game3 {
  width: 90% !important;
  margin: auto;
}

.game-head {
  padding: 0 3%;
  padding: 1%;
}

.opt-div {
  padding: 0 3%;
  background-color: rgba(26, 166, 183, 0.2);
  border-radius: 10px;
}

.question-text {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}
.question-text div {
  margin-bottom: 0.7rem;
}

.quiz-option-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.quiz-head {
  font-size: 45px;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 30px;
  font-family: "Lilita One", cursive;
  color: #ff414d !important;
  font-style: italic;
  font-weight: 600;
}
.submit-button {
  display: flex;
  justify-content: center;
}
