.navbar-main {
  background-color: rgba(26, 166, 183, 0.3) !important;
}

.brand-name {
  color: #002d40;
  font-weight: 800;
  font-size: 1.5rem;
}

.link {
  color: #002d40;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 5% !important;
  text-align: center;
}

.cont {
  margin-left: 9% !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-nav {
  margin-right: 2.5rem;
  background-color: unset;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding: 0.5rem 2% !important;
}

button:hover {
  background-color: #002d40 !important;
}

.link-sign {
  color: white;
  font-weight: 700;
  background-color: #002d40 !important;
  font-size: 1.1rem;
  padding: 0 5% !important;
  text-align: center;
}

.link-sign:hover {
  color: #1aa6b7;
  background-color: white !important;
}

.nav-main {
  margin-left: 50% !important;
}

@media only screen and (max-width: 1026px) {
  .nav-main {
    margin-left: 0 !important;
  }
}

.link-add {
  margin-left: 5% !important;
}
