
.quiz-container {
  background-image: url("Bg-Learning.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  }
  
  .quiz-title {
    background-color: rgba(26, 166, 183, 0.5);
  padding: 1%;
  color: #002d40;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  }
  
  .quiz-body {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-progress {
  margin-bottom: 2rem;
  }
  
  .prg-bar {
    width: 95%;
    height: 1.5rem;
    border-radius: 30px;
    background-color: rgba(255, 65, 77, 0.4);
    --bs-progress-bar-bg: rgb(0, 45, 64);
  }
  
  .quiz-question {
  margin-bottom: 2rem;
  border: none;
  box-shadow: none;
  }
  
  .question-text {
    
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  }
  
  .quiz-options {
    
  display: flex;
  flex-direction: column;
  }
  
  .option {
    background-color:#ff414d;
    border-color:  #ff414d;
  margin-bottom: 1rem;
  }
  
  .quiz-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .quiz-buttons {
    
  display: flex;
  align-items: center;
  }
  
  .previous-button {
  
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff414d;
  border-color: #ff414d;
  border-radius: 5px;
  }
  
  .next-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff414d;
  border-color: #ff414d;
  border-radius: 5px;
  margin-left: 340px;
  }
  
  .quiz-score {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  }