.img-home {
  object-fit: cover;
  filter: brightness(50%);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
}

.ital-rem {
  font-style: normal;
}

.p-home {
  font-family: "Jost", sans-serif !important;
  text-align: center;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  top: 0;
}

.hero-container > h1 {
  color: #fff;
  font-size: 6rem;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn-acc-home {
  color: #002d40;
  border: unset;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #fff;
  width: 100% !important;
  text-align: center;
  border-radius: 50px;
}
